:root {
    --skin-color: #f021b2;
    --skin-color-rgb: 240, 33, 178;
    --skin-color-02: rgba(240, 33, 178, 0.2);
    --skin-color-03: rgba(240, 33, 178, 0.3);
    --skin-color-04: rgba(240, 33, 178, 0.4);
    --skin-color-05: rgba(240, 33, 178, 0.5);
    --skin-color-06: rgba(240, 33, 178, 0.6);
    --skin-gradient: #ff6b9d;
    --skin-gradient-light: rgba(255, 107, 157, 0.1);
}
