:root {
    --skin-color: #37b182;
    --skin-color-rgb: 55, 177, 130;
    --skin-color-02: rgba(55, 177, 130, 0.2);
    --skin-color-03: rgba(55, 177, 130, 0.3);
    --skin-color-04: rgba(55, 177, 130, 0.4);
    --skin-color-05: rgba(55, 177, 130, 0.5);
    --skin-color-06: rgba(55, 177, 130, 0.6);
    --skin-gradient: #4ecdc4;
    --skin-gradient-light: rgba(78, 205, 196, 0.1);
}
