:root {
    --skin-color: #1854b4;
    --skin-color-rgb: 24, 84, 180;
    --skin-color-02: rgba(24, 84, 180, 0.2);
    --skin-color-03: rgba(24, 84, 180, 0.3);
    --skin-color-04: rgba(24, 84, 180, 0.4);
    --skin-color-05: rgba(24, 84, 180, 0.5);
    --skin-color-06: rgba(24, 84, 180, 0.6);
    --skin-gradient: #4a90e2;
    --skin-gradient-light: rgba(74, 144, 226, 0.1);
}