:root {
    --skin-color: #fa5b0f;
    --skin-color-rgb: 250, 91, 15;
    --skin-color-02: rgba(250, 91, 15, 0.2);
    --skin-color-03: rgba(250, 91, 15, 0.3);
    --skin-color-04: rgba(250, 91, 15, 0.4);
    --skin-color-05: rgba(250, 91, 15, 0.5);
    --skin-color-06: rgba(250, 91, 15, 0.6);
    --skin-gradient: #ff8c42;
    --skin-gradient-light: rgba(255, 140, 66, 0.1);
}
